body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    background: silver;
}

.images {
    width: 250px;
    height: 150px;
    transform: perspective(1000px) rotateY(0deg);
    transform-style: preserve-3d;
    position: relative;
    transition: .5s;
}

img {
    width: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

.buttons {
    width: 80%;
    position: relative;
}

button {
    background-color: darkblue;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    bottom: -150px;
}

button:hover {
    background-color: blue;
}

.Prev {
    left: 20%;
}

.Next {
    right: 20%;
}